<div class="content">
  <div class="header">
    <h1>Settings</h1>
  </div>
  <div class="settings-container">
    <div class="card-container">
      <div class="settings-card help">
        <i><img src="assets/icon/question.svg" alt="help"></i>
        <h3>You need help?</h3>
        <p>Contact Support now</p>
      </div>
      <div class="settings-card help">
        <i><img src="assets/icon/question.svg" alt="help"></i>
        <h3>About</h3>
        <p>Check app details</p>
      </div>
    </div>

    <div class="settings-btn">
      Privacy
    </div>
    <div class="settings-btn">
      Notifications
    </div>
    <div class="settings-btn">
      Chats
    </div>
    <div class="settings-btn" (click)="presentAlertConfirm()">
      Logout
    </div>

  </div>
</div>
