<ion-header [translucent]="true"> </ion-header>
<div class="container">
  <div class="get-started">
    <img src="assets/icon/online_chat.svg" alt="Get Started">

    <div class="text-contents">
      <h1>Hello, Lets Chat.</h1>
      <p>Best way to privately chat with you friends.</p>
    </div>
    <div class="getstarted-btn">
      <div class="login-btn" [routerLink]="['/login']"><b>Login</b></div>
      <div class="register-btn" [routerLink]="['/register']"><b>Register</b></div>
    </div>
  </div>
</div>
