.container{
  background: #050406;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  .back-btn {
    outline: none;
    i img {
      outline: none;
     height: 30px;
     cursor: pointer;
    }
  }

  .login-container {
    position: relative;
    height: 100%;
    align-self: center !important;
    width: 20%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 2.2em;
      font-weight: 900;
    }

    h2 {
      font-size: 1.8em;
      font-weight: 600;
      color: #BDC1C6;
      margin-bottom: 30px;
    }

    .form{
      flex-grow: 1;
    }
    .input{
      align-self: center;
      margin: 10px 0;
      border-radius: 15px;
      border: #3b3a42 2px solid;
      background: #1e1c24;
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 10px;
      input {
        height: 50px;
        width: 100%;
        outline: none !important;
        background: transparent;
        border: none;
      }

      &.password {
        position: relative;
        display: flex;
        input {
          flex: 1;
        }
        i img {
          right: 2px;
          height: 35px;
          cursor: pointer;
        }
      }

      &.error {
        border: rgb(246, 36, 36) 2px solid;
      }
    }
    color: #E4E8EE;

    .action-bar {

      margin-top: 10px;
      width: 100%;
      .register-btn{
        cursor: pointer;
        outline: none;
      }
      .login-btn{
        outline: none;
        margin-top: 20px;
        height: 60px;
        border-radius: 20px;
        background: #E4E8EE;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #050406;
        font-weight: 900;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .login-container {
    width: 100% !important;

  }
}
