<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <div class="back-btn">
      <i><img src="assets/icon/back-left-curved-arrow.svg" alt="back button" [routerLink]="['/getstarted']"></i>
    </div>
    <div class="login-container">
      <h1>
        Let's sign you in.
      </h1>

      <h2>Welcome Back. <br> You've been missed.</h2>

      <form [formGroup] ="loginForm" class="form">
        <div class="input username" [ngClass]="{'error': loginForm.controls.email.invalid &&  loginForm.controls.email.touched && loginForm.controls.email.dirty}">
          <input type="email" placeholder="Email" formControlName="email" name="email" id="email" autocomplete="off">
        </div>
        <div class="input password" [ngClass]="{'error': loginForm.controls.password.invalid && loginForm.controls.password.touched && loginForm.controls.password.dirty}">
          <input [type]="isPassword ? 'password' : 'text'" placeholder="Password" formControlName="password"  name="password" id="password" autocomplete="off" > <i><img src="assets/icon/eye.svg" alt="show/hide" (click)="showHidePassword()"></i>
        </div>
      </form>


      <div class="action-bar">
        <p>Don't have an account? <span class="register-btn" [routerLink]="['/register']"><b> Register</b></span></p>
        <div class="login-btn" (click)="login()">
          Sign-in
        </div>
      </div>
    </div>
  </div>
</ion-content>
