<ion-header [translucent]="true"> </ion-header>
<div class="container">
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="nav">

    <i [routerLink]="['/home/dashboard']" routerLinkActive="active" (click)="navChange('dashboard')">
      <!-- <ion-icon src="assets/icon/conversation.svg"></ion-icon> -->
      <!-- <img alt="message" src="assets/icon/conversation.svg" /> -->
      <ion-icon name="chatbubbles{{currentNav === 'dashboard' ? '': '-outline'}}"></ion-icon>
      <span class="badge" *ngIf="messageBadge"></span>
    </i>
    <i [routerLink]="['/home/contacts']" routerLinkActive="active" (click)="navChange('contacts')"
      >
      <ion-icon name="people{{currentNav === 'contacts' ? '': '-outline'}}"></ion-icon>
      <span class="badge" *ngIf="contactBadge"></span>
    </i>
    <i [routerLink]="['/home/profile']" routerLinkActive="active" (click)="navChange('notifications')"
      >
      <ion-icon name="person{{currentNav === 'notifications' ? '': '-outline'}}"></ion-icon>
      <span class="badge" *ngIf="friendRequest"></span>
    </i>
    <i [routerLink]="['/home/settings']" routerLinkActive="active" (click)="navChange('settings')"
      >
      <!-- <img alt="settings" src="assets/icon/settings.svg" /> -->
      <ion-icon name="settings{{currentNav === 'settings' ? '': '-outline'}}"></ion-icon>
    </i>
  </div>
</div>
